<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T Party</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>

  <header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <span class="NavT">T</span><span class="NavParty">PARTY</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      {{#if logged_in}}
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/homepage">
            Home
          </a>

          <a class="navbar-item" href="/profile">
            Profile
          </a>

          <a class="navbar-item" href="/post">
            New Post
          </a>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <button class="button" id="logout">
            Logout
          </button>
        </div>
      </div>
      {{else}}
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button" href="/login" id="login">
              <strong>Get Started</strong>
            </a>
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </nav>
</header>
  <body>

    {{{body}}}

      

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>
</html>