<!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T Party</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

        <div class="container has-text-centered">
          <div class="column is-half is-offset-one-quarter">

    
            <div class="box">
              <section class="section is-small">
                <img src="TPartyLogo.png" alt='TParty'/>
                <h2 class="title"><span id="T">T</span><span id="Party">PARTY</span></h2>

                    <div class="title has-text-grey is-5">We're so glad you're here!</div>
                        <div class="box has-text-centered">
                        <a class="button is-medium" id="loginBtn" href="/login">
                        Login
                        </a>
                        <p>――――――― OR ―――――――</p>
                        <a class="button is-medium" id="SignUpBtn" href="/login">
                        Sign Up
                        </a>
                    </div>
              </section>
            </div>

            
          </div>
         {{{body}}} 
        </div>

      

  </body>
</html>