<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="pfp.jpg">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong> {{username}} </strong> <small> {{name}} </small>
        <br>
        {{post}}
      </p>
    </div>
  </div>
</article>
