{{!-- {{#if post.length}} --}}
  <div class="col-md-6 project-list">
    <h3 class="has-text-white">previous post:</h3>


  {{!-- {{#each posts as |post|}} --}}
  <div class="media-content">
    <div class="content">
      <div class="box">
      <p><strong>{{username}}</strong><small>{{name}}</small><small></small>
        <br>
        {{post}}
      </p>
    </div>
    <button  id="delete-post"  data-id="{{post.id}}">DELETE</button>
  </div>
  {{!-- {{/each}} --}}
</article>
{{!-- {{/if}} --}}
</div>
