<div class="row">
    <div class="col-auto">
        <h2>Hi, {{name}}!</h2>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6">
        <h3>Let's get Posting!</h3>

        <article class="media">
        <!-- PROFILE PICTURE
            <figure class="media-left">
                <p class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
            </figure>
        -->

        <!-- TEXT AREA -->
            <div class="media-content">
                <div class="field">
                    <p class="control">
                        <textarea class="textarea" placeholder="What's on your mind...?"></textarea>
                    </p>
                </div>
                <nav class="level">
                    <div class="level-left">
                        <div class="level-item">
                            <a class="button is-info">Post</a>
                        </div>
                    </div>
                </nav>
            </div>
        </article>
    </div>

    {{#if posts.length}}
        <div class="row mb-2"></div>
            <h3>Previous Posts:</h3>

            {{#each posts as|post|}}
                <div class="row mb-2">
                    <div class="col-md-8">
                        <h4><a href="/posts/{{post.id}}">{{post.name}}</a></h4>
                    </div>
                    <div class="col-md-4">
                        <button class="btn is-danger" data-id="{{post.id}}">DELETE</button>
                    </div>
                </div>
            {{/each}}
        </div>
    {{/if}}
</div>