body {
    background-color: rgb(103, 10, 24);
}

.title {
    font-size: 70px;
    font-family: "Copperplate";
}

.font {
    font-family: "Copperplate";
    color: black;
}

.T {
    color:rgb(205, 11, 11);
    font-family: "Copperplate";
}

.Party {
    color:rgb(244, 86, 7);
    font-family: "Copperplate";
}

.NavT {
    color:rgb(205, 11, 11);
    font-family: "Copperplate";
    font-size: 40px;
    font-weight: bold;
}

.NavParty {
    color:rgb(244, 86, 7);
    font-family: "Copperplate";
    font-size: 40px;
    font-weight: bold;
}

#login, #logout, #loginBtn {
    background-color: rgb(216, 43, 43);
    color: white;
}

#SignUpBtn {
    background-color: rgb(24, 6, 6);
    color: white;
}

#navbar {
    background-color: rgb(244, 86, 7);
    color: rgb(244, 86, 7);
}
